*,
*::after,
*::before{
    box-sizing: border-box;
}

.container{
    /*width: 100%;*/
    max-width: 1280px;
    margin: 0 auto;

}

.logo{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.logo a{
    font-weight: 400;
    font-size: 80px;
    color: #4BCAFF;
}
.logo span{
    color: #000000;
}

.nav{
    /*text-transform: capitalize;*/
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.nav-link{
    color: #fff;
    padding: 26px 40px 19px;
    /*font-size: 24px;*/
    border-left: 1px solid #fff;
}
.nav-link:last-child{
    border-right: 1px solid #fff;
}
.nav-link:hover{
    background-color: #222f3a;
}
.aside-left-menu{
    display: flex;
    flex-direction: column;
    min-width: 344px;
    max-height: 397px;
    font-weight: 400;
    font-style: 27px;
    border: 1px solid #000;
    /*background: #fff;*/
    margin-top: 48px;
}

.left-menu{
    /*font-weight: 400;*/
    /*font-size: 27px;*/
    /*line-height: 27px;*/
    color: #485863;
    padding: 26px 44px;
}
.left-menu:hover{
    background: #DBDBDB;
    padding: 26px 65px;
}

.main{
    display: flex;
}
.about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 48px;


}

.image{
    display: flex;
    flex-direction: column;
    align-items: flex-end;



}

.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-left: 52px;
}


.contacts{
    display: flex;
    padding: 20px 10px 21px;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 20px;

}

.nav-bottom-menu{
    display: flex;
}

.nav-bottom-menu a{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding-left: 20px;
    color: #0C1927;
}
.nav-bottom-menu a:hover{
    color: #3181A6;
}
.copyright{
    padding-left: 100px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
}

